@import 'tailwindcss';

@theme {
  --font-sans: 'Inter Variable', 'sans-serif';
}

:root {
  --background-wiggle-light: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2252%22%20height%3D%2226%22%3E%3Cpath%20fill%3D%22oklch(87.2%25%200.01%20258.338)%22%20fill-opacity%3D%22.4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%2010c0-2.21-1.79-4-4-4a6%206%200%200%201-6-6h2c0%202.21%201.79%204%204%204a6%206%200%200%201%206%206c0%202.21%201.79%204%204%204a6%206%200%200%201%206%206c0%202.21%201.79%204%204%204v2a6%206%200%200%201-6-6c0-2.21-1.79-4-4-4a6%206%200%200%201-6-6m25.464-1.95%208.486%208.486-1.414%201.414-8.486-8.486z%22%2F%3E%3C%2Fsvg%3E');
  --background-wiggle-dark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2252%22%20height%3D%2226%22%3E%3Cpath%20fill%3D%22oklch(37.3%25%200.034%20259.733)%22%20fill-opacity%3D%22.4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%2010c0-2.21-1.79-4-4-4a6%206%200%200%201-6-6h2c0%202.21%201.79%204%204%204a6%206%200%200%201%206%206c0%202.21%201.79%204%204%204a6%206%200%200%201%206%206c0%202.21%201.79%204%204%204v2a6%206%200%200%201-6-6c0-2.21-1.79-4-4-4a6%206%200%200%201-6-6m25.464-1.95%208.486%208.486-1.414%201.414-8.486-8.486z%22%2F%3E%3C%2Fsvg%3E');
}
